body {
  color: white;
}

.container {
  margin: 20px;
}

.planet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.planet-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.planet-photo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.planet-photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 5px;
}

.planet-photo img.hovered {
  filter: grayscale(100%);
  cursor: pointer;
  color: white;
}

.planet-photo img.hovered::after {
  content: attr(data-planet);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.planet-details {
  margin-top: 10px;
  text-align: center;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}


.text-container {
  max-width: 800px;
  padding: 20px;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}