
@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .apod-pic {
        width: 20px;
        height: 20px;
    }

    p {
        width: 80%;
    }
}
