body {
  background-color: #040404;
  font-family: 'Helvetica Neue', monospace;
  color: white;
}

.long-rectangle {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  margin-top: 100px;
  margin-left: 40px;
  padding: 20px;
  height: 410px;
  font-size: 2px;
}

.long-rectangle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 5px;
  border-top: 17px solid #f2f2f2;
  border-right: 17px solid transparent;
  
}

.message-box {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 20px;
  width: 300px;
  position: relative;
  color: black;
  padding: 10px;
  animation: slide-up 0.5s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
  width: 70%;
  margin-right: 30px;
  margin-top: 70px;
}

.white-text {
  color: white;
  margin-bottom: 115px;
}

.slow-appear {
  opacity: 0;
  transform: translateY(-50px);
  animation: slow-appear-animation 2s ease forwards;
}

@keyframes slow-appear-animation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.titre-meteo {
  background: linear-gradient(45deg, #ff00cc, #e2642e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 2s linear infinite;
  background-size: 200% auto;
}

@keyframes shine {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}



.central {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}


.opaque-rectangle {
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, #ff00ccb2, #e2642e);
  border-radius: 13px;
  display: flex;
  align-items: center;
  color : white;
  padding: 10px;
  font-size: 14px;
  
}

.opaque-rectangle p{
    margin: 5px 38px;
}

.opaque-rectangle p::first-letter {
  text-transform: uppercase;
}

.logo {
  width: 60px;
  height: 60px;
}

.carre-meteo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carre-meteo:hover {
  border-radius: 15px;
  border-radius: 15px;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}


/*Petits écrans*/
@media screen and (max-width: 500px) {
  .message-box,
  .long-rectangle {
    width: 100%;
    margin: 10% 10%;
    padding: 10px;
    height: max-content;
  }

  .central {
    flex-direction: column;
    align-items: center;
  }
  
  .opaque-rectangle {
    height: auto;
    padding: 20px;
  }
  
  .opaque-rectangle p {
    margin: 5px;
  }

  .centered-text{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .opaque-rectangle{
    height: 400px;
    margin-bottom: 10px;
  }
  .central {
    height: 5vh;
  }

  .white-text{
    font-size: 16px;
    margin-bottom: 50px;
  }

    .carre-meteo {
      padding: 0 60px;
    }

}

